

<nav class="navbar navbar-expand navbar-light bg-primary">
  <div class="nav navbar-nav">
    <h5 class="nav-item nav-link active text-white">LOGS DASHBOARD </h5>
  </div>
</nav>

<div style="display:flex; margin:30px">
<a href="/candidates" style="color:white;" class="btn btn-primary"> < Go Back</a>
</div>

<div id="main-container" class="container" style="margin-top: 50px;">
<div class="row" class="container" id="main-container" style="margin-top: 30px;">
        <div class="col-12">
            <div class="card card-margin">
                <div class="card-body">
                    <div class="row search-body">
                        <div class="col-lg-12">
                            <div class="search-result">
                                <div class="result-body">
                                    <div class="table-responsive">
                                        <table class="table widget-26">
                                        <thead>
                                             <tr>
                                             <th style="text-align: center;"><span>Log Id</span></th>
                                             <th style="text-align: center;"><span>Action</span></th>
                                             <th style="text-align: center;"><span>Candidate Id</span></th>
                                             <th style="text-align: center;"><span>Time</span></th>
                                             <th style="text-align: center;"><span>Action Performed By</span></th>
                                             <th>&nbsp;</th>
                                             </tr>
                                          </thead>
                                            <tbody>
                                                <tr *ngFor="let log of logs; let i=index;">
                                                    <td>
                                                        <div class="widget-26-job-title">
                                                            <a></a>
                                                            <p style="text-align: center;" style="text-align: center;" class="m-0"><a href="#" class="employer-name">{{log?.id}}</a></p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="widget-26-job-info">
                                                            <p class="type m-0"></p>
                                                            <p style="text-align: center;" class="text-muted m-0"><span class="location">{{log?.action}}</span></p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="widget-26-job-info">
                                                            <p class="type m-0"></p>
                                                            <p *ngIf="(!oldValues[i]?.id && newValues[i]?.id)" style="text-align: center;" class="text-muted m-0"><span class="location">{{newValues[i]?.id}}</span></p>
                                                            <p *ngIf="log?.action === 'Deleted this Candidate'" style="text-align: center;" class="text-muted m-0"><span class="location">{{log?.candidateId}}</span></p>
                                                            <p *ngIf="(newValues[i]?.id && oldValues[i]?.id)" style="text-align: center;" class="text-muted m-0"><span class="location">{{log?.candidateId}}</span></p>
                                                        </div>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <div style="display:inline;" class="widget-26-job-category bg-soft-base">
                                                            <span  >{{log?.timeStamp}}</span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="widget-26-job-info">
                                                            <p class="type m-0"></p>
                                                            <p style="text-align: center;" class="text-muted m-0"><span class="location">{{log?.email}}</span></p>
                                                        </div>
                                                    </td>
                                                    <td >
                                                        <div class="widget-26-job-info">
                                                            <button *ngIf="(log.action === 'Added new Candidate')" (click)="onOpenModal2(newValues[i], 'details')" class="nav-link btn btn-primary " style="color:white" >View</button>
                                                            <button *ngIf="(log.action === 'Deleted this Candidate')" (click)="onOpenModal2(oldValues[i], 'details')" class="nav-link btn btn-primary " style="color:white" >View</button>
                                                            <button *ngIf="(log.action === 'Updated this Candidate')" (click)="onOpenModal(oldValues[i],newValues[i], 'details')" class="nav-link btn btn-primary " style="color:white" >View</button>
                                                        </div>
                                                    </td>

                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <div class="container">
        <div class="main-body">
          <div class="row gutters-sm" style="flex-direction:column">
            <div Style="display:flex; justify-content:space-between;">
              <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="{{detailOldLog?.imageUrl}}" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                        <h4>{{detailOldLog?.name}}</h4>
                        <p class="text-secondary mb-1">{{detailOldLog?.jobTitle}}</p>
                        <p class="text-muted font-size-sm">{{detailOldLog?.joiningLocation}}</p>
                        </div>
                    </div>
                    </div>
                </div>
              </div>
              <div style="display:flex; align-items:center;">
              <i style="font-size: -webkit-xxx-large; color: cornflowerblue;" class="far fa-arrow-alt-circle-right"></i>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="{{detailNewLog?.imageUrl}}" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                        <h4 style="border-radius: 18px;" >{{detailNewLog?.name}}</h4>
                        <p style="border-radius: 18px;" [ngClass]="{'changed': !(detailOldLog?.jobTitle === detailNewLog?.jobTitle)}" class="text-secondary mb-1">{{detailNewLog?.jobTitle}}</p>
                        <p style="border-radius: 18px;" [ngClass]="{'changed': !(detailOldLog?.joiningLocation === detailNewLog?.joiningLocation)}" class="text-muted font-size-sm">{{detailNewLog?.joiningLocation}}</p>
                        </div>
                    </div>
                    </div>
                </div>
              </div>
            </div>
            <div style="display: flex; padding-left: 0px; padding-right: 0px;">
              <div style="width:50%" class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                    <div class="row" style="border-radius: 18px;">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        {{detailOldLog?.name}}
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="border-radius: 18px;">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        {{detailOldLog?.email}}
                        </div>
                    </div>
                    <hr>
                    <div class="row"style="border-radius: 18px;">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        {{detailOldLog?.phone}}
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="border-radius: 18px;">
                        <div style="width: 27%;" class="col-sm-3">
                        <h6 class="mb-0">Joining Location</h6>
                        </div>
                        <div style="width: 73%;" class="col-sm-9 text-secondary">
                        {{detailOldLog?.joiningLocation}}
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="border-radius: 18px;">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Joining Date</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        {{detailOldLog?.joiningLocation}}
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="border-radius: 18px;">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Skill</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        {{detailOldLog?.skill}}
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="border-radius: 18px;">
                        <div style="width: 32%;" class="col-sm-3">
                        <h6 class="mb-0">Description</h6>
                        </div>
                        <div style="width: 68%;" class="col-sm-9 text-secondary">
                        {{detailOldLog?.description}}
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="width:50%" class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                    <div [ngClass]="{'changed': !(detailOldLog?.name === detailNewLog?.name)}" class="row" style="border-radius: 18px;">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        {{detailNewLog?.name}}
                        </div>
                    </div>
                    <hr>
                    <div [ngClass]="{'changed': !(detailOldLog?.email === detailNewLog?.email)}" class="row" style="border-radius: 18px;">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        {{detailNewLog?.email}}
                        </div>
                    </div>
                    <hr>
                    <div [ngClass]="{'changed': !(detailOldLog?.phone === detailNewLog?.phone)}" class="row" style="border-radius: 18px;">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        {{detailNewLog?.phone}}
                        </div>
                    </div>
                    <hr>
                    <div [ngClass]="{'changed': !(detailOldLog?.joiningLocation === detailNewLog?.joiningLocation)}" class="row" style="border-radius: 18px;">
                        <div style="width: 27%;" class="col-sm-3">
                        <h6 class="mb-0">Joining Location</h6>
                        </div>
                        <div style="width: 73%;" class="col-sm-9 text-secondary">
                        {{detailNewLog?.joiningLocation}}
                        </div>
                    </div>
                    <hr>
                    <div [ngClass]="{'changed': !(detailOldLog?.joiningDate === detailNewLog?.joiningDate)}" class="row" style="border-radius: 18px;">
                        <div  class="col-sm-3">
                        <h6 class="mb-0">Joining Date</h6>
                        </div>
                        <div  class="col-sm-9 text-secondary">
                        {{detailNewLog?.joiningLocation}}
                        </div>
                    </div>
                    <hr>
                    <div [ngClass]="{'changed': !(detailOldLog?.skill === detailNewLog?.skill)}" class="row" style="border-radius: 18px;">
                        <div class="col-sm-3">
                        <h6 class="mb-0">Skill</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                        {{detailNewLog?.skill}}
                        </div>
                    </div>
                    <hr>
                    <div [ngClass]="{'changed': !(detailOldLog?.skill === detailNewLog?.skill)}" class="row" style="border-radius: 18px;">
                        <div style="width: 32%;" class="col-sm-3">
                        <h6 class="mb-0">Description</h6>
                        </div>
                        <div style="width: 68%;" class="col-sm-9 text-secondary">
                        {{detailNewLog?.description}}
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <div class="container">
        <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{currentLog?.imageUrl}}" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{currentLog?.name}}</h4>
                      <p class="text-secondary mb-1">{{currentLog?.jobTitle}}</p>
                      <p class="text-muted font-size-sm">{{currentLog?.joiningLocation}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{currentLog?.name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{currentLog?.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{currentLog?.phone}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Joining Location</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{currentLog?.joiningLocation}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Joining Date</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{currentLog?.joiningDate}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Skill</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{currentLog?.skill}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Description</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{currentLog?.description}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>