<nav class="navbar navbar-expand navbar-light bg-primary">
  <div class="nav navbar-nav">
    <h5 class="nav-item nav-link active text-white">CHARTS DASHBOARD </h5>
  </div>
</nav>

<div style="display:flex; margin:30px">
<a  id="back" href="/candidates" style="color:white;" class="btn btn-primary"> < Go Back</a>
</div>

<div style="display:flex; justify-content:center; margin:30px">
<input id="skills" style="margin:10px" class="btn btn-primary" (click)="activeTrend('first')" type="button" value="Skills">
<input id="location" style="margin:10px" class="btn btn-primary" (click)="activeTrend('second')" type="submit" value="Location">
</div>

<div style="display:flex; justify-content:center;" *ngIf="first">
<ngx-charts-bar-vertical-2d
  [view]="[700, 400]"
  [scheme]="colorScheme"
  [results]="skills"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [legendTitle]="legendTitle">
</ngx-charts-bar-vertical-2d>
</div>


<div style="display:flex; justify-content:center;" *ngIf="second">

<ngx-charts-bar-vertical-2d
  [view]="[700, 400]"
  [scheme]="colorScheme"
  [results]="locations"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [legendTitle]="legendTitle"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)">
</ngx-charts-bar-vertical-2d>
</div>








